* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  margin: 20px;
}

.tabela-vestuario {
  color: #ffffff;
}

.tabela-vestuario th {
  padding: 8px;
  background-color: #BB86FC;
}

.tabela-vestuario td {
  padding: 8px;
  background-color: #424250;
}

.tabela-casa{
  color: #ffffff;
}

.tabela-casa th {
  padding: 8px;
  background-color: #00C4B4;
}

.tabela-casa td {
  padding: 8px;
  background-color: #424250;
}